<!--chosen unit print-out-->
<div ng-controller="selectedController">

		<div class="row">
			
			<div ng-repeat="votable in votables | selectedVotables" class="VTunit large-3 panel columns"><!--vote unit-->
				<div class="VTcontainer">
					<img src="{{votable.img}}">
					<div class="VTtoggle">
						<span class="VTlight">{{votable.role}}</span>
						<span activate="selected" class="VTlight VTbtm" vtadd="VTadd()" data-index="{{votable.index}}" data-binary="{{votable.binary}}">SELECT</span>
					</div>
				</div>
			</div><!--end vote unit-->

 		</div>

	
</div>

