/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.VTunit img {
  width: 100%;
}

.VTtoggle {
  height: 30px;
  background-color: #efefef;
  margin-bottom: 20px;
}

.VTcontainer {
  margin-bottom: 60px;
}

.VTtoggle span {
  font-family: "rooney-sans",sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #efefef;
  width: 100%;
  display: block;
  padding: 4px 8px 5px;
}

.VTtoggle .VTbtm {
  margin-bottom: 20px;
  background-color: #222;
  color: white;
  cursor: pointer;
}