<!--view for vote units-->
<div ng-controller="panelController as panel">

		<div class="row">
			
			<div ng-repeat="votable in votables" class="VTunit large-3 panel columns" selection-model selection-model-mode="multiple-additive" selection-model-selected-items="selectedItems"><!--vote unit-->
				<div class="VTcontainer">
					<img selection-model-ignore src="{{votable.img}}">
					<div class="VTtoggle">
						<span selection-model-ignore class="VTlight">{{votable.role}}</span>
						<!-- <span activate="selected" class="VTlight VTbtm" vtadd="VTadd()" ng-click="arrayCreate($event)" data-index="{{votable.index}}">SELECT</span> -->
						<span activate="selected" class="VTlight VTbtm" vtadd="VTadd()" ng-click="arrayCreate(votable, $event)" data-index="{{votable.index}}" data-binary="{{votable.binary}}">SELECT</span>
					</div>
				</div>
			</div><!--end vote unit-->

 		</div>

	
</div>
